<!doctype html>

<h1>The retronaut webring</h1>

<p>Some of us miss the messy old days of the Internet where we tried to get along and we'd link to each other's sites and it was all so much fun.</p>

<a href='/join'><button>Join the webring</button></a>
