<!doctype html>

<h1>Join the webring!</h1>

<form action='/join' method='post'>
    <input type='hidden' name='_csrf' value='{{_csrf}}'>

    <p>
        Your URL <input type='text' name='url'>
    </p>

    <button type='submit'>Join!</button>
</form>
